<div id="myModal"
     class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     ng-controller="AskController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header hidden-xs">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Ask a new question</h3>
            </div>

            <div class="modal-body">
                <form name="askForm">
                    <div class="form-group">
                        <label for="heading" class="hidden-xs">Heading</label>
                        <input class="form-control input-sm"
                               id="heading"
                               placeholder="Brief heading (10 to 50 chars)"
                               type="text"
                               ng-model="theHeading"
                               required
                               ng-minlength="10"
                               ng-maxlength="50">
                    </div>
                    <div class="form-group">
                        <div text-angular
                             ta-toolbar="[['pre','h6','bold','italics','underline','quote','ul','ol','undo','redo','indent','outdent']]"
                             ng-model="theQuestion"
                             required
                             placeholder="Your question here"></div>
                    </div>
                </form>

                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit"
                        class="btn btn-warning pull-right"
                        ng-click="ask()"
                        ng-disabled="askForm.$invalid"
                        data-dismiss="modal">ASK
                </button>
                <button type="submit"
                        class="btn btn-info pull-right"
                        ng-disabled="askForm.$invalid"
                        data-dismiss="modal">clarify?
                </button>
            </div>
        </div>
    </div>
</div>