<div class="nav navbar navbar-default navbar-fixed-bottom ng-cloak">
    <div class="container">
        <p class="navbar-text pull-left">
            <i class="fa fa-copyright"></i> 2015 HarvardClass
        </p>
        <span class="hidden-sm hidden-md hidden-lg">
            <a type="button"
               class="navbar-btn btn btn-primary btn-xs pull-right"
               href="#myModal"
               target="_self"
               role="button"
               data-toggle="modal">
                <i class="fa fa-pencil"></i> New Question
            </a>
        </span>
    </div>
</div>