/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*defaults*/
body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 12px;
}

.form-error-notice {
    color: rgb(169, 68, 66);
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.btn {
    font-size: 10px;
}

.btn.pull-right {
    margin-right: 3px;
}

.conv {
    width: 40px;
}

.questionTime, .commentTime, .by {
    color: darkgray;
    font-size: 10px;
}

.userName {
    font-weight: bold;
    color: #0b97c4;
    font-size: 12px;
}

.edit-input-div {
    padding-top: 10px;
}

div > div > div > li > div {
    padding-top: 10px;
}

.comment-full-li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.comment-name, .sender-name {
    color: #0b97c4;
}

.comment-p {
    margin-bottom: 5px;
}

/*p tags inside comments rich text*/
.comment-p-div > p > p {
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
}

.text-outputs {
    word-wrap: break-word;
}

/*
questions feed
*/
.question-feed-li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.question-full-li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*question input field/modal*/
.ta-editor {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

.question-modal-notice {
    color: rgb(138, 109, 59);
}

/*comment input rich text editor*/
.comment_input {
    margin: 10px 0 40px 0;
}

/*bottom nav bar
*/
.bottom-nav-pills {
    display: inline-block;
}

/*disabling focus effects*/
ul > li > a:focus,
div.collapse.navbar-collapse.navHeaderCollapse > a:focus,
span.hidden-sm.hidden-md.hidden-lg > a:focus {
    outline: none;
}

ul.nav.navbar-nav.pull-right.hidden-xs.bottom-nav-pills > li > a,
#trending {
    color: #0b97c4;
}