/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*ng-animate transitions*/
/*.animate.ng-enter,*/
/*.animate.ng-leave {*/
    /*-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*position: relative;*/
    /*display: block;*/
/*}*/

/*.animate.ng-leave.animate.ng-leave-active,*/
/*.animate.ng-enter {*/
    /*opacity: 1;*/
    /*top: 0;*/
    /*height: 30px;*/
/*}*/

/*.animate.ng-enter.ng-enter-active,*/
/*.animate.ng-leave {*/
    /*opacity: 0;*/
    /*top: -50px;*/
    /*height: 0px;*/
/*}*/

/*body*/
body {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*
questions feed
*/
.main-media {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.media-body {
    width: 100%;
}

.upvote, .promote, .conv, .add {
    margin-bottom: 2px;
}

.conv {
    width: 40px;
}

.userName {
    font-weight: bold;
    color: #0b97c4;
}

.questionTime, .commentTime {
    color: darkgray;
    font-size: 10px;
}

/*question input field/modal*/
.ta-editor {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

/*comment input rich text editor*/
.comment_input {
    margin: 10px 0 40px 0;
}

/*trending*/
body > div.container > div > div > div.ng-scope > div > ul > li.list-group-item {
    padding: 7px;
}

/*bottom nav bar
*/
.bottom-nav-pills {
    display: inline-block;
}

/*disabling focus effects*/
ul > li > a:focus,
div.collapse.navbar-collapse.navHeaderCollapse > a:focus,
span.hidden-sm.hidden-md.hidden-lg > a:focus {
    outline: none;
}

ul.nav.navbar-nav.pull-right.hidden-xs.bottom-nav-pills > li > a,
#trending {
    color: #0b97c4;
}

a:hover {
    text-decoration: none;
}