/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*
questions feed
*/
.media {
    border-bottom: 1px solid #ccc;
}

.media-body {
    width: 100%;
}

.upvote {
    margin-bottom: 2px;
}

.userName {
    font-weight: bold;
    color: #0b97c4;
}

.questionTime {
    color: darkgray;
}

/*question input field/modal*/
.ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

/*bottom nav bar
*/
body > div.nav.navbar.navbar-default.navbar-fixed-bottom > div > ul.nav.navbar-nav.pull-right.hidden-xs.bottom-nav-pills > li > a {
    color: #0b97c4;
}