<ul class="list-unstyled">
    <li class="list-unstyled comment-full-li"
        ng-repeat="eachComment in comments"
        ng-class="cmntsReference[eachComment.commentIndex].commentClass">

        <p ta-bind
           ng-model="eachComment.comment"
           class="text-outputs comment-p">
        </p>
        <small class="comment-name">{{eachComment.senderName}}</small>

        <small class="commentTime">{{cmntsReference[eachComment.commentIndex].commentTime}}</small>

        <div class="pull-right">
            <a type="button"
               ng-class="cmntsReference[eachComment.commentIndex].buttonClass"
               ng-disabled="cmntsReference[eachComment.commentIndex].ifDisabled"
               ng-click="promote(currentQuestion, eachComment.commentIndex, eachComment.uniqueId, $event)">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </li>
</ul>