<!--start of online users-->
<div ng-class="currentColClasses.onlineColumn"
     style="text-align: center">
    <div ng-controller="OnlineUsersController">
        <h5>Users</h5>
        <table class="table table-condensed ng-cloak" id="onlineUsers">
            <tr ng-repeat="(key, value) in onlineUsers">
                <td class='onlineUser userName'>
                    {{value.customUsername}}
                </td>
            </tr>
        </table>
    </div>
    <!--end of online users column-->
</div>