<div ng-controller="QuestionFeedController"
     ng-class="columnClass">
    <h5>
                <span>
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    Question Feed
                </span>
                <span class="hidden-sm hidden-md hidden-lg">
                        <a type="button"
                           class="btn btn-primary btn-xs pull-right"
                           href="#myModal"
                           role="button"
                           data-toggle="modal">
                            <i class="fa fa-pencil"></i> New Question
                        </a>
                </span>
    </h5>


    <ul class="media-list">
        <li class="media main-media" ng-repeat="eachQuestion in questions"
            ng-class="questionReference[eachQuestion.questionIndex].questionClass">
            <a class="media-left media-top" href="#">
                <p class="userName">{{eachQuestion.senderName}}</p>
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{eachQuestion.heading}}</h4>

                <p ta-bind ng-model="eachQuestion.question"></p>

                <small class="questionTime">{{questionReference[eachQuestion.questionIndex].questionTime}}</small>

                <div class="pull-right">
                    <a type="button"
                       class="btn btn-default btn-xs"
                       ng-click="fullQuestion(eachQuestion.questionIndex)">
                        <i class="fa fa-plus"></i> Go to conversation
                    </a>
                    <button type='button'
                            ng-class="questionReference[eachQuestion.questionIndex].buttonClass"
                            ng-disabled="questionReference[eachQuestion.questionIndex].ifDisabled"
                            ng-click="upvote(eachQuestion.questionIndex, $event)">

                        <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>

                    </button>
                </div>
            </div>
        </li>
    </ul>

</div>