<div ng-controller="qFeedCtrl"
     ng-class="columnClass">
    <h5>
                <span>
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    Question Feed
                </span>
                <span class="hidden-sm hidden-md hidden-lg">
                        <a type="button"
                           class="btn btn-primary btn-xs pull-right"
                           href="#myModal"
                           target="_self"
                           role="button"
                           data-toggle="modal">
                            <i class="fa fa-pencil"></i> New Question
                        </a>
                </span>
    </h5>


    <ul class="media-list">
        <li class="media main-media" ng-repeat="eachQuestion in questions"
            ng-class="questionReference[eachQuestion.questionIndex].questionClass">

            <div class="media-body">

                <h4 class="media-heading">
                    <a ng-href="#/fullQuestion/{{eachQuestion.questionIndex}}">
                        {{eachQuestion.heading}}
                    </a>
                    <small class="senderName">by {{eachQuestion.senderName}}</small>
                </h4>

                <p ta-bind ng-model="eachQuestion.question"></p>
            </div>

            <small class="questionTime">{{questionReference[eachQuestion.questionIndex].questionTime}}</small>

            <div class="pull-right question-buttons">
                <a ng-href="#/fullQuestion/{{eachQuestion.questionIndex}}"
                   type="button"
                   class="btn btn-default btn-xs conv">
                    <i class="fa fa-comments-o"></i>
                </a>
                <button type='button'
                        ng-class="questionReference[eachQuestion.questionIndex].buttonClass"
                        ng-disabled="questionReference[eachQuestion.questionIndex].ifDisabled"
                        ng-click="upvote(eachQuestion.questionIndex, $event)">

                    <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>

                </button>
            </div>
        </li>
    </ul>

</div>