<div ng-controller="QuestionFeedController"
     ng-class="columnClass"
     class="ng-cloak">
    <a type="button"
       class="btn btn-primary btn-xs"
            ng-click="changeTab('home')">
        <i class="fa fa-arrow-left"></i> Question Feed
    </a>
    <h4>
        <span>
            {{questions[questionOnView].heading}}
        </span>
        <span class="hidden-sm hidden-md hidden-lg">
            <a type="button"
               class="btn btn-primary btn-xs pull-right"
               href="#myModal"
               role="button"
               data-toggle="modal">
                <i class="fa fa-pencil"></i> New Question
            </a>
        </span>
    </h4>


    <ul class="media-list">
        <li class="media main-media" ng-class="questionReference[questionOnView].questionClass">
            <a class="media-left media-top" href="#">
                <p class="userName">{{questions[questionOnView].senderName}}</p>
            </a>

            <div class="media-body">

                <p ta-bind ng-model="questions[questionOnView].question"></p>

                <small class="questionTime">{{questionReference[questionOnView].questionTime}}</small>

                <div class="pull-right">
                    <a type="button"
                       class="btn btn-primary btn-xs"
                       ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-plus"></i> Respond
                    </a>

                    <button type='button'
                            ng-class="questionReference[questionOnView].buttonClass"
                            ng-disabled="questionReference[questionOnView].ifDisabled"
                            ng-click="upvote(questionOnView, $event)">

                        <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>

                    </button>
                </div>
            </div>
        </li>
        <li>
            <div collapse="isCollapsed"
                 ng-controller="CommentController"
                 class="comment_input">
                <div text-angular
                     ta-toolbar="[['pre','h6','bold','italics','underline','quote','ul','ol','undo','redo','indent','outdent']]"
                     ng-model="theComment"
                     required
                     placeholder="Your comment here">
                </div>
                <br/>

                <div class="pull-right">
                    <a type="button"
                       class="btn btn-default btn-xs"
                       ng-click="changeCollapse()">
                        <i class="fa fa-minus"></i> Collapse
                    </a>
                    <a type="button"
                       class="btn btn-primary btn-xs"
                       ng-click="newComment(questionOnView)">
                        <i class="fa fa-paper-plane"></i> Post
                    </a>
                </div>
            </div>
        </li>
        <li>
            <ul>
                <div comment-full></div>
            </ul>
        </li>
    </ul>

</div>