<div ng-controller="TrendingCtrl"
     ng-class="columnClass">
    <h5 id="trending"
        ng-click="changeTab('trending')">
        <a href="#/trendingFull">
            <i class="fa fa-line-chart"></i> Trending
        </a>
    </h5>
    <ul class="list-group">
        <li class="list-group-item ng-cloak"
            ng-repeat="eachTop in topVotedQuestions"
            ng-class="[
                            questionReference[eachTop.questionIndex].questionClass,
                            questionReference[eachTop.questionIndex].listGroupClass
                            ]"
            ng-disabled="questionReference[eachTop.questionIndex].ifDisabled"
            ng-click="upvote(eachTop.questionIndex, $event)">
                            <span class="badge voteNumber">
                                {{eachTop.votes}}
                            </span>
            {{eachTop.heading}}
        </li>
    </ul>
</div>