<div ng-controller="TrendingCtrl"
     ng-class="columnClass">
    <h5 id="trending"><i class="fa fa-line-chart"></i> Trending</h5>

    <ul class="list-group">
        <li class="list-group-item ng-cloak"
            ng-repeat="eachTop in topVotedQuestions"
            ng-class="[questionReference[eachTop.questionIndex].questionClass]"
            ng-disabled="questionReference[eachTop.questionIndex].ifDisabled">
            <span class="badge voteNumber">{{eachTop.votes}}</span>
            <h4 class="text-outputs">
                <a ng-href="#/fullQuestion/{{eachTop.questionIndex}}">
                    {{eachTop.heading}}
                </a>
                <small class="senderName">by {{eachTop.senderName}}</small>
            </h4>

            <p ta-bind
               ng-model="eachTop.question"
               class="text-outputs">
            </p>

            <small class="questionTime">
                {{questionReference[eachTop.questionIndex].questionTime}}
            </small>

            <div class="pull-right">
                <a ng-href="#/fullQuestion/{{eachTop.questionIndex}}"
                   type="button"
                   class="btn btn-default btn-xs conv">
                    <i class="fa fa-comments-o"></i>
                </a>
                <button type='button'
                        ng-class="questionReference[eachTop.questionIndex].buttonClass"
                        ng-disabled="questionReference[eachTop.questionIndex].ifDisabled"
                        ng-click="upvote(eachTop.questionIndex, $event)">

                    <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>
                </button>
            </div>
        </li>
    </ul>
</div>